html,
body {
	margin: 0;
	padding: 0;

	font-family: "Roboto", Arial, sans-serif; //задаем стили для body
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #283136;
	
	background-color: #ffffff;
}

a {
	text-decoration: none; //отменяем у ссылок подчеркивание
}

.main-header {
	background-color: #eeeeee;
}

.main-navigation {
	font-size: 16px;
	line-height: 30px;
	font-weight: 500;
	color: #000000;
	text-transform: uppercase;
}

.site-navigation,
.user-navigation {
	list-style: none;
}

.site-navigation-current a {
	border-bottom: 2px solid #fb565a;
}

.site-navigation a,
.user-navigation a {
	color: #000000;
}

.site-navigation a[href]:hover,
.site-navigation a[href]:focus,
.user-navigation a[href]:hover,
.user-navigation a[href]:focus {
	color: #fb565a;
}

.site-navigation a[href]:active,
.user-navigation a[href]:active {
	color: rgba(0,0,0,0.3);
}

.container h1 {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	color: #000000;
	background-color: #eeeeee;
	text-align: center;
}

.slider-item h2 {
	font-size: 55px;
	line-height: 55px;
	color: #000000;
}

.button {
	display: inline-block;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	text-align: center;
	vertical-align: middle;
	color: #ffffff;
	text-transform: uppercase;
	border: none;
	border-radius: 3px;
	background-color: #fb565a;
}

.button:hover,
.button:focus {
	background-color: #e74246;
}

.button:active {
	background-color: #d7373b;
	color: rgba(255,255,255,0.3);
	box-shadow: 0 3px 0 rgba(0,1,1,0.1) inset;
}

.index-columns {
	border-bottom: 2px solid #eeeeee;
}

.index-columns b {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	color: #000000;
}

.index-columns h4 {
	color: #000000;
	text-transform: uppercase;
}

.services-list h3 {
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	color: #000000;
	text-transform: uppercase;
}

.site {
	background-image: url("../img/illustration1.jpg");
	background-position: top center;
	background-repeat: no-repeat;
}

.application {
	background-image: url("../img/illustration2.jpg");
	background-position: top center;
	background-repeat: no-repeat;
}

.application .button {
	background-color: #00ca74;
}

.application .button:hover,
.application .button:focus {
	background-color: #00bc6c;
}

.application .button:active {
	background-color: #00aa62;
	color: rgba(255,255,255,0.3);
}

.present {
	background-image: url("../img/illustration3.jpg");
	background-position: top center;
	background-repeat: no-repeat;
}

.present .button {
	background-color: #efc84a;
}

.present .button:hover,
.present .button:focus {
	background-color: #eab534;
}

.present .button:active {
	background-color: #e5a722;
	color: rgba(255,255,255,0.3);
}

.rules-work  {
	list-style: none;
}

.statistic-information td {
	font-size: 45px;
	font-weight: bold;
	color: #000000;
}

.statistic-information th {
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: #283136;
}

.partners-list {
	list-style: none;
}

.partners-item a {
	list-style: none;
	opacity: 0.2;
}

.partners-item a:hover,
.partners-item a:focus {
	opacity: 1;
}

.partners-item a:active {
	opacity: 0.1;
}

.filter fieldset {
	border: none;
}

.filter legend {
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
}

.filter ul {
	list-style: none;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
}

.filter-input {
	font: inherit;
	color: #283136;
}

.filter label:hover {
	color: #000000;
}

.filter-input:disabled + label {
	color: rgba(40,49,54,0.3);
}

.sorting b {
	font-size: 18px;
	line-height: 18px;
	font-weight: bold:
	color: #000000;
}

.sorting a {
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	color: rgba(0,0,0,0.3);
	text-transform: uppercase;
}

.sorting a.sorting-current {
	color: rgba(0,0,0,1);
}

.sorting a[href]:hover,
.sorting a[href]:focus {
	color: rgba(0,0,0,0.6);
}

.sorting a[href]:active {
	color: #000000;
}

.catalog-list {
	list-style: none;
}

.catalog-buy-item {
	background-color: #eeeeee;
	text-align: center;
}

.catalog-buy-item h3 {
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	color: #000000;
	
	text-transform: uppercase;
}

.catalog-buy-item a {
	color: #000000;
}

.pagination-list {
	list-style: none;
}

.pagination-item li {
	font-size: 16px;
	line-height: 18px;
}

.pagination-item a{
	color: #000000;
	background-color: #eeeeee;
	border-radius: 3px;
}

.pagination-item a:hover,
.pagination-item a:focus {
	background-color: #dfdfdf;
}

.pagination-item a:active {
	background-color: #d5d5d5;
	box-shadow: 0 3px 0 rgba(0,1,1,0.1) inset;
}

.pagination-item-current a {
	background-color: #ffffff;
	border: 3px solid #dbdbdb;
}

.pagination-item-current a:hover {
	background-color: #ffffff;
	border: 3px solid #dbdbdb;
}

.footer-contacts b {
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	color: #000000;
}

.footer-social {
	text-align: left;
}

.footer-social ul {
	list-style: none;
}

.social-button {
	display: inline-block;
	background-color: #e1e1e1;
	color: #ffffff;
	height: 78px;
	width: 78px;
	border-radius: 50%;
}

.social-button:hover,
.social-button:focus {
	background-color: #e74246;
}

.social-button:active {
	background-color: #d7373b;
}

.footer-social-slogan {
	text-align: left;
}

.footer-social-slogan b {
	font-size: 36px;
	line-height: 36px;
	font-weight: 400;
	color: #000000;
}

.footer-social-slogan p {
	font-size: 16px;
	line-height: 22px;
	color: #444444;
}

.mobile a {
	color: #666666;
	text-decoration: none;
}

.modal {
	color: #000000;
	background-color: #ffffff;
	box-shadow: 0 20px 0 40px #ffffff;  //сомневаюсь, нужно будет потом проверить
}

.modal h2 {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
}

.write-us-item label {
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
}

.write-us-item input,
.write-us-item textarea {
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	
	background-color: transparent;
	border: 2px solid #d7dcde;
	border-radius: 3px;
}

.write-us-item input:hover,
.write-us-item input:focus,
.write-us-item textarea:hover,
.write-us-item textarea:focus {
	border-color: #b4b9bb;
}

.write-us-item input:active,
.write-us-item textarea:active {
	border-color: #444444;
}




