html,
body {
	margin: 0;
	padding: 0;

	font-family: "Roboto", Arial, sans-serif; //задаем стили для body
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #283136;
	
	background-color: #ffffff;
}

a {
	text-decoration: none; //отменяем у ссылок подчеркивание
}

.main-header {	
	background-color: #eeeeee;
	background-image: url("../img/pattern_light.jpg");
	background-position: top center;
	background-repeat: no-repeat;
}

.main-navigation {
	font-size: 16px;
	line-height: 30px;
	color: #000000;
	text-transform: uppercase;
}

.site-navigation,
.user-navigation {
	list-style: none;
}

.site-navigation a,
.user-navigation a {
	color: #000000;
}

.site-navigation a:hover,
.user-navigation a:hover {
	color: #fb565a;
}

.site-navigation a:focus,
.user-navigation a:focus {
	color: rgba(0,0,0,0.3);
}

.slider-item {
	text-align: left;
}

.slider-item h2 {
	font-size: 55px;
	line-height: 55px;
	color: #000000;
}

.button {
	font-size: 16px;
	line-height: 18px;
	font-weight: medium;
	text-align: center;
	vertical-align: middle;
	color: #ffffff;
	text-transform: uppercase;
	border: none;
	background-color: #fb565a;
}

.button:hover {
	background-color: #e74246;
}

.button:focus {
	background-color: #d7373b;
	color: rgba(255,255,255,0.3);
}

.index-columns {
	border-bottom: 2px solid #eeeeee;
}

.index-columns b {
	font-size: 45px;
	line-height: 45px;
	font-weight: medium;
	color: #000000;
}

.index-columns h4 {
	color: #000000;
	text-transform: uppercase;
}

.services-list h3 {
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	color: #000000;
	text-transform: uppercase;
}

.site {
	background-image: url("../img/illustration1.jpg");
	background-position: top center;
	background-repeat: no-repeat;
}

.application {
	background-image: url("../img/illustration2.jpg");
	background-position: top center;
	background-repeat: no-repeat;
}

.application .button {
	background-color: #00ca74;
}

.application .button:hover {
	background-color: #00bc6c;
}

.application .button:focus {
	background-color: #00aa62;
	color: rgba(255,255,255,0.3);
}

.present {
	background-image: url("../img/illustration3.jpg");
	background-position: top center;
	background-repeat: no-repeat;
}

.present .button {
	background-color: #efc84a;
}

.present .button:hover {
	background-color: #eab534;
}

.present .button:focus {
	background-color: #e5a722;
	color: rgba(255,255,255,0.3);
}

.rules-work  {
	list-style: none;
}

.statistic-information td {
	font-size: 45px;
	line-height: 10px;
	font-weight: bold;
	color: #000000;
}

.statistic-information th {
	font-size: 16px;
	line-height: 18px;
	font-weight: regular;
	color: #283136;
}

.partners-list {
	list-style: none;
}

.partners-item a {
	list-style: none;
	opacity: 0.2;
}

.partners-item a:hover {
	opacity: 1;
}

.partners-item a:focus {
	opacity: 0.1;
}

.footer-social {
	text-align: left;
}

.footer-social ul {
	list-style: none;
}

.social-button {
	display: inline-block;
	background-color: #e1e1e1;
	color: #ffffff;
	height: 78px;
	width: 78px;
	border-radius: 50%;
}

.social-button:hover {
	background-color: #e74246;
}

.social-button:focus {
	background-color: #d7373b;
	color: rgba(255,255,255,0.3);
}

.footer-social-slogan {
	text-align: left;
}

.footer-social-slogan b {
	font-size: 36px;
	line-height: 36px;
	font-weight: regular;
	color: #000000;
}

.footer-social-slogan p {
	font-size: 16px;
	line-height: 22px;
	color: 
}

.mobile a {
	color: #283136;
	text-decoration: none;
}














.page-title {
	font-size: 55px;
	line-height: 55px;
	color: #000000;
}

